@font-face {
    font-family:'Verdana CM';
    src: url('assets/fonts/Verdana.eot');
	src: url('assets/fonts/Verdana.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Verdana.woff2') format('woff2'),
		url('assets/fonts/Verdana.woff') format('woff'),
		url('assets/fonts/Verdana.ttf') format('truetype'),
		url('assets/fonts/Verdana.svg#assets/fonts/Verdana') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00BB;
}
