$main_gray: #333;
$main_rose: #ef32d9;
$main_green: #89fffd;
$rose: #e14fad;
$orange: #f9d423;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    font-weight: normal;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: $main_gray;
}

.container {
    width: 100%;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    margin: -16px;
    margin-top: 48px;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1024px;
}

.flex-item {
    width: calc(50% - 32px);
    margin: 16px;
}

.contact {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba($color: #444b4d, $alpha: .1);
    cursor: pointer;
    transition: .5s;
}

.contact:hover {
    box-shadow: 0px 4px 12px rgba($color: #444b4d, $alpha: .5);

    .contact__img {
        transform: scale(1.1);
    }
}

.contact__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 16px;
    transition: .5s;
    background: linear-gradient(to right, $rose, $orange);

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        transition: .5s;
        font-size: 26px;
        font-weight: bold;
        color: #fff;
    }
    .fav {
        position: absolute;
        bottom: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        background: url(./assets/fav.svg) center/contain no-repeat;
    }
}

.contact__info {
    align-self: center;

    h2 {
        color: #424242;
    }

    span {
        color: #bdbdbd;
    }
}

.contact__del {
    width: 16px;
    height: 16px;
    background: url(./assets/close.svg) center/25px no-repeat;
    margin-left: auto;
}

.contact__del:hover {
    opacity: .7;
}

button.addBtn {
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba($orange, $alpha: .1);
    transition: .3s;
    background-color: rgba($orange , $alpha: .9);
    flex-grow: 1;
    min-height: 92px;

    span {
        font-weight: bold;
        font-size: 40px;
        transition: .3s;
        color: #fff;
    }
}

button.addBtn:hover {
    opacity: .7;
}

.popup {
    padding: 40px 24px;
    width: 90%;
    max-width: 448px;
    position: relative;
    box-shadow: 0px 4px 12px rgba(68, 75, 77, 0.1);
    border-radius: 16px;
    background: #fff;
    margin: auto;

    button.close {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 24px;
        width: 16px;
        height: 16px;
        background: url(./assets/close.svg) center/cover;
    }

    button.close:hover {
        opacity: .7;
    }

    input, textarea {
        width: 100%;
        outline: none;
        font-size: 100%;
        border: 1px solid #a5a5a5;
        margin: 16px 0;
        padding: 12px 8px;
        resize: none;
        border-radius: 6px;
    }

    input:focus, textarea:focus {
        border-color: $rose;
    }

    h3 {
        margin-bottom: 24px;
    }
}

.modal {
    z-index: 99999;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


@media screen and (max-width: 800px) {
    .flex-container {
        display: block;
    }

    .flex-item {
        margin: 16px 0;
        width: 100%;
    }
}